:root {
  --clr-primary-100: hsl(267, 47%, 38%);
  --clr-primary-200: hsl(341, 56%, 49%);

  --clr-gradient-100: hsl(23, 95%, 62%);
  --clr-gradient-200: hsl(341, 56%, 49%);

  --clr-accent-100: hsla(180, 89%, 64%, 1);
  --clr-accent-200: hsl(51, 100%, 50%, 1);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(210, 50%, 98%);
  --clr-neutral-300: hsl(0, 0%, 20%);
  --clr-neutral-400: hsl(207, 4%, 43%);
  /* nav_btm-border 500 */
  --clr-neutral-500: rgb(196, 196, 196);

  --ff-primary-100: "Playfair Display", serif;
  --ff-primary-200: "Open Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  --fs-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --fs-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --fs-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --fs-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --fs-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --fs-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --fs-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --fs-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

* {
  font-size: inherit;
  font-weight: inherit;
}

/* HEADER */
header {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-100);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid var(--clr-neutral-500);
}

.header_wrapper {
  display: flex;
  width: min(100%, 1200px);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header_logo a {
  text-decoration: none;
  color: var(--clr-neutral-300);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
}

.header_logo a:hover {
  color: var(--clr-neutral-400);
  transition: 0.3s;
}

/* NAV BAR */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-neutral-200);
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: inline-block;
  text-decoration: none;
  font-weight: var(--fw-bold);
  padding: 1.2rem;
  color: var(--clr-neutral-300);
  font-size: 1.1rem;
}

.navbar-links li a:hover {
  color: black;
  transition: color 1s ease;
}

.navbar-links li:hover {
  background-color: hsla(180, 89%, 64%, 0.9);
  transition: background-color 0.3s ease;
  color: white;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--clr-neutral-300);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* MAIN */
main {
  background-color: var(--clr-neutral-200);
  padding: 96px 16px 64px 16px;
}

h1 {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-900);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-extra-bold);
  line-height: 1;
  margin-top: 32px;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  width: min(100%, 1200px);
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.main_content {
  order: 2;
  width: min(100%, 515px);
}

.main_hero-diploma {
  display: none;
}

.main_content_btn-container {
  display: flex;
  margin-top: 48px;
}

.main_hero {
  display: grid;
  justify-content: center;
}

.main_hero-circle {
  grid-column: 1/4;
  grid-row: 1;
  width: 343px;
  height: 343px;
  background: linear-gradient(
    180deg,
    var(--clr-primary-100) 0%,
    var(--clr-primary-200) 100%
  );
  border: 2px solid #000000;
  border-radius: 299.5px;
  position: relative;
  overflow: hidden;
}

.main_hero-circle::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 326px;
  bottom: 0px;
  border-radius: 30%;
  background-image: url("../images/jamie_wilson.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 326px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
}

main h2 {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-800);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
  margin-bottom: 16px;
}

main p {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-medium);
  line-height: 1.5;
}

.main_span-animation-1 {
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(
    90deg,
    var(--clr-accent-100) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  font-weight: var(--fw-bold);
}

.main_span-animation-2 {
  -webkit-animation: 2s highlight 2s 1 normal forwards;
  animation: 2s highlight 2s 1 normal forwards;
  background-color: none;
  background: linear-gradient(
    90deg,
    var(--clr-accent-200) 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  font-weight: var(--fw-bold);
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

main p .highlight-gold::before {
  background-color: var(--clr-accent-200);
}

/* BUTTONS  */
.custom-btn {
  width: 166px;
  height: 50px;
  color: #fff;
  display: flex;
  text-align: center;
  padding: 10px 25px;
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn-5 {
  width: 166px;
  height: 50px;
  line-height: 48px;
  padding: 0;
  border: none;
  background-color: var(--clr-primary-100);
}

.btn-5:hover {
  color: var(--clr-primary-100);
  background-color: white;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: var(--clr-primary-100);
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-1 {
  border: 2px solid var(--clr-primary-100);
}

.btn-2 {
  margin-left: 16px;
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-100);
  border: 2px solid var(--clr-primary-100);
}

.custom-btn {
  text-decoration: none;
}

.container {
  padding: 100px 20px 0;
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  h1 {
    font-family: var(--ff-primary-100);
    font-size: var(--fs-900);
    color: var(--clr-neutral-300);
    font-weight: var(--fw-extra-bold);
    line-height: 1;
    margin-top: 0;
  }

  main {
    background-color: var(--clr-neutral-200);
    padding: 96px 16px 48px 16px;
  }

  .main_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min(100%, 1200px);
    margin: 0 auto;
    padding: 48px 0;
  }

  .main_hero {
    order: 2;
    display: grid;
    grid-template-columns: 128px 83px 263px 147px;
    grid-template-rows: 156px 128px 174px;
  }

  .main_hero-diploma {
    width: 212px;
    height: 173px;
    grid-row: 3/4;
    grid-column: 1/2;
    z-index: 200;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--clr-neutral-300);
    justify-content: center;
  }

  .main_hero-diploma-body {
    font-family: var(--ff-primary-200);
    font-size: var(--fs-400);
    color: var(--clr-neutral-300);
    font-weight: var(--fw-medium);
    line-height: 1.2;
    margin-top: 8px;
  }

  .main_hero-diploma-heading {
    font-family: var(--ff-primary-200);
    font-size: var(--fs-500);
    color: var(--clr-neutral-300);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-top: 8px;
  }

  .main_hero-circle {
    width: 458px;
    height: 458px;
    grid-row: 1/4;
    grid-column: 2/5;
    background: linear-gradient(
      180deg,
      var(--clr-primary-100) 0%,
      var(--clr-primary-200) 100%
    );
    border: 2px solid #000000;
    border-radius: 299.5px;
    position: relative;
  }

  .main_hero-circle::before {
    content: "";
    position: absolute;
    width: 438px;
    height: 438px;
    bottom: -5px;
    border-radius: 100%;
    background-image: url("../images/jamie_wilson.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 269px 438px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
  }
}

/* portfolio - rock, paper, scissors */
.showcase {
  width: min(100%, 1200px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.showcase_heading {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-600);
  color: var(--clr-neutral-500);
  font-weight: var(--fw-bold);
}

.showcase_container-img {
  border: 1px solid black;
  grid-column: 1;
  aspect-ratio: 4/2;

  padding-top: 10px;
}

.rps .showcase_container-img {
  background-color: #1a1a1a;
}

.showcase_container-img img {
  width: 584px;
}

/* section - project */
section h2 {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-900);
  color: var(--clr-primary-100);
  font-weight: var(--fw-extra-bold);

  width: min(100%, 1200px);
  margin: 0 auto;
  margin-bottom: 24px;
}

.project {
  margin: 64px 0;
  padding: 0 16px;
  scroll-margin-top: 4.5em;
}

.project_card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: min(100%, 388px);
  margin: 32px auto 0 auto;
}

.project_card {
  width: min(100%, 388px);
  height: 359px;
  background-color: var(--clr-neutral-200);
  border: 1px solid var(--clr-neutral-300);
}

.project_card-content {
  padding: 16px;
  border-top: 1px solid var(--clr-neutral-300);
}

.project_card-wrapper picture {
  width: min(100%, 388px);
  height: 217px;
  overflow: hidden;
}

.project_card-wrapper img {
  width: min(100%, 388px);
  height: auto;
}

.project_card-wrapperimg:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

h3 {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-extra-bold);
  margin-bottom: 16px;
  line-height: 1;
}

h3 a {
  color: var(--clr-neutral-300);
  text-decoration: none;
}

h3 a:hover {
  -webkit-text-decoration: underline 2px var(--clr-neutral-300);
  text-decoration: underline 2px var(--clr-neutral-300);
}

.project_card-content_language {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-300);
  color: var(--clr-neutral-400);
  font-weight: var(--fw-bold);
  margin-bottom: 16px;
}

.project_card-content_language span {
  border-radius: 25px;
  padding: 0.2em 0.7em;
  background-color: white;
  color: rgb(24, 24, 24);
}

.project_card-content_language .HTML {
  background-color: hsl(12, 71%, 49%, 0.2);
}

.project_card-content_language .CSS {
  background-color: hsl(228, 73%, 51%, 0.2);
}

.project_card-content_language .JavaScript {
  background-color: hsla(51, 100%, 50%, 0.4);
}

.project_card-content_source a {
  display: flex;
  align-items: center;
  font-family: var(--ff-primary-200);
  font-size: var(--fs-400);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
}

.project_card-content_source p:hover {
  -webkit-text-decoration: underline 1px var(--clr-neutral-300);
  text-decoration: underline 1px var(--clr-neutral-300);
}

.project_card-content_source i {
  font-size: var(--fs-500);
  margin-right: 8px;
}

@media (min-width: 824px) {
  .project_card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: min(100%, 792px);
    margin: 32px auto 0 auto;
    gap: 16px;
  }
}

@media (min-width: 1232px) {
  .project_card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min(100%, 1200px);
    margin: 32px auto 0 auto;
    gap: 16px;
  }

  .project {
    margin: 0;
    padding: 64px 16px;
  }
}

/* Animated h2  */
#container {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  position: static;
  width: 100%;
  bottom: 45%;
  display: block;
  font-family: var(--ff-primary-100);
}

#flip {
  height: 75px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 0px;
  display: inline-block;
}

#flip div:first-child {
  -webkit-animation: show 8s linear infinite;
  animation: show 8s linear infinite;
}

@-webkit-keyframes show {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -140px;
  }
  33% {
    margin-top: -140px;
  }
  38% {
    margin-top: -65px;
  }
  66% {
    margin-top: -65px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -160px;
  }
}

@keyframes show {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -140px;
  }
  33% {
    margin-top: -140px;
  }
  38% {
    margin-top: -65px;
  }
  66% {
    margin-top: -65px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -160px;
  }
}

@media (min-width: 500px) {
  #container {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    position: static;
    width: 100%;
    bottom: 45%;
    display: block;
    font-family: var(--ff-primary-100);
  }

  #flip {
    height: 75px;
    overflow: hidden;
  }

  #flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 0px;
    display: inline-block;
  }

  #flip div:first-child {
    -webkit-animation: show 8s linear infinite;
    animation: show 8s linear infinite;
  }

  @-webkit-keyframes show {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -150px;
    }
    33% {
      margin-top: -150px;
    }
    38% {
      margin-top: -75px;
    }
    66% {
      margin-top: -75px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }

  @keyframes show {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -150px;
    }
    33% {
      margin-top: -150px;
    }
    38% {
      margin-top: -75px;
    }
    66% {
      margin-top: -75px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }
}

@media (min-width: 650px) {
  @-webkit-keyframes show {
    0% {
      margin-top: -230px;
    }
    5% {
      margin-top: -165px;
    }
    33% {
      margin-top: -165px;
    }
    38% {
      margin-top: -75px;
    }
    66% {
      margin-top: -75px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }
  @keyframes show {
    0% {
      margin-top: -230px;
    }
    5% {
      margin-top: -165px;
    }
    33% {
      margin-top: -165px;
    }
    38% {
      margin-top: -75px;
    }
    66% {
      margin-top: -75px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -180px;
    }
  }
}

@media (min-width: 960px) {
  #container {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    position: static;
    width: 100%;
    bottom: 45%;
    display: block;
    font-family: var(--ff-primary-100);
  }

  #flip {
    height: 100px;
    overflow: hidden;
  }

  #flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
  }

  #flip div:first-child {
    -webkit-animation: show 8s linear infinite;
    animation: show 8s linear infinite;
  }

  @-webkit-keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }

  @keyframes show {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
}

/* Background Styles Only */
.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1da1f2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
}

.brand-title {
  font-family: "JetBrains Mono";
  font-size: var(--fs-600);
  color: var(--clr-neutral-300);
  font-weight: var(--fw-bold);
}

.navbar-links a {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
}

/* FOOTER */
footer {
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-200);
  border-top: 1px solid rgb(160, 160, 160);
  margin-top: 128px;
}

.footer_wrapper {
  display: flex;
  justify-content: center;
  padding: 32px 0 32px 0;
  font-family: var(--ff-primary-200);
  font-size: var(--fs-400);
  color: var(--clr-neutral-500);
}

.footer_wrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer_wrapper i {
  margin-right: 8px;
  font-size: var(--fs-500);
}

.header_logo a {
  display: flex;
  align-items: center;
}

.header_logo i {
  font-size: var(--fs-600);
  margin-right: 8px;
}

.nav_contact {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  font-family: var(--ff-primary-200);
  font-weight: var(--fw-bold);
  background-color: #0dff4e;
  padding: 0.2em 1em;
  border-radius: 25px;
  border: 2px solid black;
}
